body {
  margin: 0;
  padding: 0;
  background: #000957;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

.TodoTitle {
  color: #faedf0;
  font-size: 35px;
  text-align: center;
}

.title {
  font-family: "Shizuru", cursive;
}

.TodoIcon {
  color: #ebe645;
  font-size: 35px;
}

.center {
  display: flex;
  justify-content: center;
}
